.App {
  padding: 4em;
}

.App li {
  list-style: none;
  margin-bottom: 2em;
}

.App .search {
  padding: 10px;
  
}

table {
  width: 70%;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
